{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    [
      "vue-app",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [
          ".js",
          ".vue",
          ".json"
        ]
      }
    ],
    "transform-vue-jsx"
  ],
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
